@charset "ISO-8859-1";
*{
	box-sizing:border-box;
}
		body{
            margin: 0;
        }
        header{
            
            color:darkolivegreen;
            padding:px 0px 6px 40px;
            height:60px;
        }
        header h1{
            display:inline;
            float:left;
            font-family: 'Yanone Kaffeesatz', sans-serif;
        }
        nav ul{
            display:inline;
            padding: 0px;
            float:right;
        }
        nav ul li{
            display:inline-block;
            list-style: :none;
            
        }
        nav ul li a{
            text-decoration: none;
            padding-right: 40px;
        }
        nav ul li form{
        	text-decoration: none;
            padding-right: 40px;
        }
        input[type=submit]{
        
        background-color:#70C499;
 		 border: none;
  		color: white;
  		padding: 10px 3px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		cursor: pointer;
        }
      	#tab1{
        height:30px;
        width:100px;
        }
        #divide{
        background-color:#1A5B4A;
            height:10px;
        }
        
        .col1{

        position:fixed;
        
        width:200px;
        height:100%;
       
        background:#E0E0D8;
        }
        
        div ul li{
        	list-style:none;
        	padding:10px;
        }
        div ul li a{
        	text-decoration:none;
        }
        .main{
        margin-left:400px;
      	width:400px;
        padding:0px 10px;
        }
         .right{
        
             	margin-left:1050px;
            }
        label{
         color:darkolivegreen;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size:20px;
        }
        .ques{
         background:#70C499;
         width:500px;
        color:white;
        
        }